<%- include('../partials/header') %>
<div class="hero">
    <h1>CAPTURING THE UNSEEN</h1>
    <p>Photography Portfolio Coded by Lemi</p>
    <br>
    <a href="/gallery" class="btn">View Gallery</a>
</div>
<%- include('../partials/footer') %>